<p>මානසික සුවතාව</p>
<p>මානසික යෝග්‍යතාවක් පවත්වා ගැනීමෙන් හොඳින් ශල්‍යකර්මයට මුහුණ දීමටත් ශල්‍යකර්මයෙන් පසුව නැවත යථා තත්ත්වයට පැමිණීමටත් හැකිවේ.</p>
<p>ඔබට කැමති පරිදි ආගමික ස්ථාන (පන්සල, පල්ලිය හෝ කෝවිල) කරා යාමත් වෙනත් පොදු ක්‍රියාකාරකම් වල නිරත වීමත් සිදුකිරීම යෝග්‍ය වේ.</p>
<p> වැඩි වේලාවක් ඔබගේ පවුලේ අය හෝ මිතුරන් සමග කාලය ගත කිරීමටත් 
    මනස සැහැල්ලු වන විනෝදාංශය (පොත් කියවීමමත්, සංගීත රසවිඳීම, භාවනා කිරීම) වැනි ක්‍රියාකාරකම් වල නිරත වීම සුදුසුය</p>
<p> නිවසේ පමණක් කාලය ගත කිරීමෙන් වළකින්න.</p>

<p>Psychological well being</p>
<p>Good mental health is important to  
    prepare for and recover after surgery.</p>
<p>You may visit  
    places of worship,social and cultural events.</p>
<p>Spend time with your family and friends.</p>
<p>Do things that relax you like reading,listening to  
    music,watching movies or meditation.</p>
<p>Try not to be alone and restricted to your home.</p>

<p>உளவியல் நலன்</p>

<p>நல்ல மனநலத்தை பேணுவதன் மூலம் அறுவைச் சிகிச்சையை சிறப்பாக எதிர்கொள்ளவும், அறுவைச் சிகிச்சைக்குப் பிறகு விரைவாக மீண்டு வரவும் முடியும்.</p>

<p>உங்களுக்கு விருப்பமான முறையில் வழிபாட்டு இடங்களுக்கு (பௌத்த கோவில், தேவாலயம் அல்லது கோவில்) செல்லவும், பிற சமூக மற்றும் பொது செயல்பாடுகளில் பங்கேற்கவும் உகந்ததாகும்.</p>

<p>உங்கள் குடும்பத்தினருடனும் நண்பர்களுடனும் அதிக நேரம் செலவிடுங்கள். மனதை இலகுவாக்கும் பொழுதுபோக்குகள் כגון புத்தகம் வாசித்தல், இசை கேட்பது, தியானம் செய்வது போன்ற செயல்களில் ஈடுபடுவது நல்லது.</p>

<p>வீட்டிற்குள் மட்டும் இருந்து தனிமையாக இருக்க முயற்சிக்க வேண்டாம்.</p>

<p>உளவியல் நலன்</p>

<p>அறுவைச் சிகிச்சைக்கு தயாராகவும், அதன் பின்னர் மீண்டு வரவும் நல்ல மனநலம் மிகவும் முக்கியமானது.</p>

<p>நீங்கள் வழிபாட்டு இடங்கள், சமூக மற்றும் கலாச்சார நிகழ்வுகளுக்கு செல்லலாம்.</p>

<p>உங்கள் குடும்பத்தினருடனும் நண்பர்களுடனும் நேரம் செலவிடுங்கள்.</p>

<p>புத்தகம் வாசித்தல், இசை கேட்பது, திரைப்படங்கள் பார்ப்பது அல்லது தியானம் செய்வது போன்ற உங்களை தளர்வடையச் செய்யும் செயல்களை செய்யுங்கள்.</p>

<p>தனியாக இருந்து வீட்டிற்குள் மட்டுமே கட்டுப்பட்டு இருக்க முயற்சிக்க வேண்டாம்.</p>


