<p>ශල්‍ය කර්මයෙන් පසු </p>
<p>ඔබ පුරුදු වී ඇති ස්වසන ව්‍යායාම ඔබට නැවත සිහිය පැමිණි අවස්ථාවේ සිටම ආරම්භ කරන්න</p>
<p>වාට්ටුවේ කාර්ය මණ්ඩලය හා භෞත චිකිත්සකවරයා මේ සඳහා ඔබට සහය වනු ඇත.</p>
<p>ප්‍රමාණවත් ලෙස ලබාදෙන වේදනානාශක මේ සඳහා ආධාර වනු ඇත.</p>
<p>හැකි පරිදි කාගේ හෝ උපකාර ඇතිව ඇඳ හෝ පුටුව මත හිඳගැනීම වෛද්‍ය උපදෙස් පරිදි කළ යුතුය.</p>
<p> දියර හෝ වෙනත් ආහාර ගැනීම සම්බන්ධයෙන් වෛද්‍යවරයා උපදෙස් ලබා දෙනු ඇත.</p>


<p>After surgery</p>
<p>You need to start your breathing  
    exercises shortly after you regain  
    consciousness from surgery i.e. deep breathing exercises,  
    coughing and the incentive spirometer use </p>
<p>Ward staff and physiotherapists will help you with this.</p>
<p>Adequate pain relief will be given to you to help you do these exercises. </p>
<p>Vou necd to sit on the bed or chair as the pain permits with the assistance from the hospital staff
and as advised by the doctor.</p>
<p>You can walk as
pain permits and according to doctors' advice.</p>
<p>Instructions about the diet and fluid intake will
be given by the doctor.</p>

<p>அறுவைச் சிகிச்சைக்குப் பிறகு</p>

<p>அறுவைச் சிகிச்சையிலிருந்து மீண்டும் விழிப்புணர்வு கிடைத்தவுடன், நீங்கள் பழகியுள்ள சுவாசப் பயிற்சிகளை (ஆழ்ந்த மூச்சு எடுப்பது, இருமல், இன்சென்டிவ் ஸ்பைரோமீட்டர் பயன்படுத்துதல் போன்றவை) உடனடியாக தொடங்க வேண்டும்.</p>

<p>இதற்காக வார்டில் உள்ள பணியாளர்களும் உடற்பயிற்சி நிபுணரும் (பிஸியோதெரபிஸ்ட்) உங்களுக்கு உதவி செய்வார்கள்.</p>

<p>இந்த பயிற்சிகளை செய்ய உங்களுக்கு போதிய வலிநிவாரண மருந்துகள் வழங்கப்படும்.</p>

<p>மருத்துவர் அறிவுறுத்தியபடி, வலி அனுமதிக்கும் அளவிற்கு மருத்துவமனை பணியாளர்களின் உதவியுடன் படுக்கையிலோ அல்லது நாற்காலியிலோ அமர வேண்டும்.</p>

<p>வலி அனுமதிக்கும் வரையிலும், மருத்துவரின் ஆலோசனைக்கு ஏற்ப நடக்கலாம்.</p>

<p>உணவு மற்றும் திரவங்களை எடுத்துக்கொள்வது தொடர்பான அறிவுறுத்தல்கள் மருத்துவரால் வழங்கப்படும்.</p>
