<p>Control of other medical conditions</p>
<p>Continue the routine medication for your other conditions(diabetes, 
    high blood pressure) as 
    advised by the doctors.</p>
<p>It is important to take your regular  
    medications before surgery to prevent postponement.</p>
<p>You may be asked to stop certain medicines like  
    blood thinners a week before surgery.  </p>
<p>Please check with your doctor.</p>

<p>අනෙකුත් රෝග තත්ත්ව පාලනය.</p>
<p>ඔබගේ අනෙකුත් රෝග දියවැඩියාව,අධි රුධිර පීඩනය වැනි රෝග සඳහා ගන්නා ඖෂධ 
    වෛද්‍යවරුන් විසින් නියම කරන ආකාරයට දිගටම පාවිච්චි කරන්න.</p>
<p>එමගින් ඔබගේ අනෙකුත් රෝග නිසියාකාරව 
    පාලනය නොවීමෙන් ඔබගේ ශල්‍යකර්මය ප්‍රමාද වීම වළක්වා ගත හැක.</p>
<p>ඔබ ගන්නා සමහර ඖෂධ වර්ග වෙනස් කිරීම හෝ ශල්‍යකර්මයට 
    පෙර නතර කිරීම (ලේ තුනී කරන ඖෂධ වැනි) හෝ කිරීම අවශ්‍ය වනු ඇත.</p>
<p>මේ සම්බන්ධයෙන් වාට්ටුව භාර වෛද්‍යවරයාගෙන් විමසා ගන්න.</p>

<p>மற்ற மருத்துவ நிலைகளின் கட்டுப்பாடு</p>

<p>நீரிழிவு நோய், உயர் இரத்த அழுத்தம் போன்ற பிற நோய்களுக்கு நீங்கள் எடுத்துக்கொண்டு வரும் வழக்கமான மருந்துகளை மருத்துவர்கள் அறிவுறுத்தியபடி தொடர்ந்து எடுத்துக் கொள்ளுங்கள்.</p>

<p>அறுவைச் சிகிச்சைக்கு முன் உங்கள் வழக்கமான மருந்துகளை சரியாக எடுத்துக்கொள்வது, அறுவைச் சிகிச்சை ஒத்திவைக்கப்படுவதைக் தவிர்க்க மிகவும் முக்கியமானதாகும்.</p>

<p>இரத்தத்தை மெல்லியதாக்கும் மருந்துகள் போன்ற சில மருந்துகளை அறுவைச் சிகிச்சைக்கு ஒரு வாரத்திற்கு முன் நிறுத்துமாறு உங்களுக்கு அறிவுறுத்தப்படலாம்.</p>

<p>இதுகுறித்து தயவுசெய்து உங்கள் மருத்துவரிடம் ஆலோசனை பெறுங்கள்.</p>

<p>மற்ற நோய் நிலைகளின் கட்டுப்பாடு</p>

<p>நீரிழிவு நோய், உயர் இரத்த அழுத்தம் போன்ற பிற நோய்களுக்காக நீங்கள் எடுத்துக் கொள்ளும் மருந்துகளை மருத்துவர்கள் கூறியுள்ள முறையில் தொடர்ந்து பயன்படுத்தவும்.</p>

<p>இதன் மூலம், பிற நோய்கள் சரியாக கட்டுப்பாட்டில் இல்லாததனால் உங்கள் அறுவைச் சிகிச்சை தாமதமாகாமல் தடுக்க முடியும்.</p>

<p>நீங்கள் எடுத்துக் கொள்ளும் சில மருந்துகளை மாற்றவும் அல்லது அறுவைச் சிகிச்சைக்கு முன் நிறுத்தவும் (இரத்தத்தை மெல்லியதாக்கும் மருந்துகள் போன்றவை) தேவையாகலாம்.</p>

<p>இதுகுறித்து வார்டைப் பொறுப்பேற்றுள்ள மருத்துவரிடம் கேட்டறிந்து கொள்ளுங்கள்.</p>
