<h5>Physical exercises</h5>

<p>
Walk about 30 minutes per day at least 5 days per week.  
Walk at a comfortable speed but one that makes you sweat due to exertion.</p>
<p>If you have access to a staircase, climb up and down two flights of steps twice a day.</p>
<p>Gradually increase your level of exercise - do not over exert yourself suddenly </p>
<p>A Caution:  If you  have  heart  orlung disease, get a chest pain or become excessively breathless stop and consult your doctor about exercise plan
</p> 


<p>
 දිනකට විනාඩි තිහක් බැගින් අවම සතියකට දින පහක් පමණ ඇවිදීමේ ව්‍යායාම කළ යුතුය.ඔබට පහසු හැකි පමණ වේගයෙන් දහදිය දමන තෙක් ඇවිදීම කළ යුතුය </p>
<p>නිවසේ හෝ වෙනත් ස්ථානයකින් පඩි පෙළක් ඇත්නම් දිනකට දෙවරක් පමණ එහි ඉහළ පහළ ගමන් කිරීමද යෝග්‍ය වේ.</p>
<p>ක්‍රමක්‍රමයෙන් ගේ ව්‍යායාම ප්‍රමාණය වැඩි කරගත හැකිය එක්වරම ව්‍යායාම තීව්‍රතාවය වැඩි කිරීම නොකළ යුතුය.</p>
<p>ඔබට පපුවේ අමාරු හෝ පෙනහළු සම්බන්ධ රෝග තත්ත්වයක් ඇත්නම් හෝ අධික වෙහෙසක් ඇතිවේ නම් ව්‍යායාම සම්බන්ධයෙන් වෛද්‍ය උපදෙස් ලබා ගන්න.
</p>

<p>
ஒரு வாரத்தில் குறைந்தது 5 நாட்கள், தினமும் சுமார் 30 நிமிடங்கள் நடைபயிற்சி செய்யுங்கள்.  
உங்களுக்கு வசதியான வேகத்தில் நடக்கவும்; ஆனால் உடற்பயிற்சியின் காரணமாக வியர்வை வருமளவு வேகம் இருக்க வேண்டும்.
</p>

<p>
படிக்கட்டு வசதி இருந்தால், தினமும் இரண்டு முறை இரண்டு மாடி படிக்கட்டுகளை மேலேறும் மற்றும் கீழிறங்கும் பயிற்சியை செய்யுங்கள்.
</p>

<p>
உங்கள் உடற்பயிற்சி அளவை மெதுவாக அதிகரிக்கவும் – திடீரென அதிகமாக முயற்சி செய்ய வேண்டாம்.
</p>

<p>
எச்சரிக்கை: உங்களுக்கு இதயம் அல்லது நுரையீரல் நோய் இருந்தால், மார்புவலி ஏற்பட்டால் அல்லது மிக அதிகமாக மூச்சுத்திணறல் ஏற்பட்டால் உடனடியாக உடற்பயிற்சியை நிறுத்தி, உங்கள் மருத்துவரை அணுகி சரியான உடற்பயிற்சி திட்டம் குறித்து ஆலோசனை பெறுங்கள்.
</p>

