<p>A healthy diet will improve your physicalstrength
and itness to withstand major surgery.</p> 
<p>Drink plenty of water (at least 1.5 liters per day) to maintain your hydration.</p>
<p>Take good amounts of starch (rice, string hoppers,pittu) proteins (dhal,
soya. beans, eggs, fish, lean meat) and fiber (vegetables and fruit)  
in your diet.</p>
<p>There is NO restriction to your diet unless instructed by the doctors in our unit.</p>
<P>Additional information about your diet will be provided by the clinical nutritionist.</P>
<p>You can use the vitamin supplements given by the hospital.</p>
<P>A Stop alcohol consumption before surgery</P>

<p>ආහාර හා පෝෂණය</p>
<p>පෝෂ්‍ය දායක ආහාර වේලක් මගින් බගේ ශරීරය ශක්තිමත් කර ශල්‍යකර්ම සඳහා වඩා හොඳින් මුහුණ දීමට හැකිවේ.</p>
<p>අවශ්‍ය ප්‍රමාණයට පිෂ්ටය සහිත ආහාර (බත්,ඉඳිආප්ප,පිට්ටු) ,
    ප්‍රෝටීන ආහාර (පරිප්පු, සෝයා, බිත්තර, මාළු, මස්) සහ කෙඳි සහිත ආහාර එළවළු හා පලතුරු ආහාරයට ගැනීම කරන්න.</p>
<p>ඔබගේ ආහාර ගැනීම කිසිදු සීමා කිරීමක් අවශ්‍ය නොවෙයි.</p>
<p>අනෙකුත් අවශ්‍ය උපදෙස් පෝෂණය සම්බන්ධ වෛද්‍යවරයා ලබාදෙනු ඇත. </p>
<p>රෝහලින් ලබාදෙනින් වර්ග භාවිතා කරන්න.</p>
<p>අවවාදයයි ඔබ මත්පැන් පානය කරයි නම් එය සම්පූර්ණයෙන්ම නතර කළ යුතුය.</p>

<p>உணவு மற்றும் ஊட்டச்சத்து</p>

<p>ஊட்டச்சத்து நிறைந்த உணவுகளை எடுத்துக்கொள்வதன் மூலம் உங்கள் உடல் வலுப்பெற்று, அறுவைச் சிகிச்சைகளைச் சிறப்பாக எதிர்கொள்ள முடியும்.</p>

<p>தேவையான அளவில் மாவுச் சத்து கொண்ட உணவுகள் (சாதம், இடியப்பம், பிட்டு), புரதச்சத்து கொண்ட உணவுகள் (பருப்பு, சோயா, முட்டை, மீன், இறைச்சி) மற்றும் நார்ச்சத்து கொண்ட காய்கறிகள் மற்றும் பழங்களை உணவில் சேர்த்துக் கொள்ளுங்கள்.</p>

<p>உங்கள் உணவு எடுத்துக்கொள்ளலில் எந்தவிதமான கட்டுப்பாடும் தேவையில்லை.</p>

<p>ஊட்டச்சத்து தொடர்பான பிற தேவையான ஆலோசனைகள் ஊட்டச்சத்து நிபுணர் அல்லது மருத்துவரால் வழங்கப்படும்.</p>

<p>மருத்துவமனையிலிருந்து வழங்கப்படும் உணவுகளை பயன்படுத்தவும்.</p>

<p><strong>எச்சரிக்கை:</strong> நீங்கள் மதுபானம் அருந்துபவராக இருந்தால், அதை முழுமையாக நிறுத்த வேண்டும்.</p>
