<p>A healthy diet will improve your physicalstrength
and itness to withstand major surgery.</p> 
<p>Drink plenty of water (at least 1.5 liters per day) to maintain your hydration.</p>
<p>Take good amounts of starch (rice, string hoppers,pittu) proteins (dhal,
soya. beans, eggs, fish, lean meat) and fiber (vegetables and fruit)  
in your diet.</p>
<p>There is NO restriction to your diet unless instructed by the doctors in our unit.</p>
<P>Additional information about your diet will be provided by the clinical nutritionist.</P>
<p>You can use the vitamin supplements given by the hospital.</p>
<P>A Stop alcohol consumption before surgery</P>



