<p>ස්නානය හා සනීපාරක්ෂාව</p>
<p>දෛනිකව ස්නානය කිරීම ඔබගේ මනා සනීපාරක්ෂාව සඳහා හේතුවේ.</p>
<p>සාමාන්‍ය ජලය හෝ උණුවතුර පාවිච්චි කළ හැක.</p>
<p>මෙමඟින් ඔබගේ ශරීරයේ ඇති අහිතකර බැක්ටීරියා ප්‍රමාණය අවම කර ශල්‍යකර්මයෙන් පසු තුවාල ආසාදනය අවම කර ගත හැක.</p>

<p>Bathing and personal hygiene</p>
<p>Please have a bath daily using soap  
    and maintain your personal hygiene.</p>
<p>You may use warm or cold water as you prefer.</p>
<p>This will help vou to reduce the load of harmful bacteria  
in vour body which can cause  
    wound infections after the surgery.</p>

    <p>குளித்தல் மற்றும் தனிப்பட்ட சுகாதாரம்</p>

<p>தினசரி குளிப்பது உங்கள் நல்ல தனிப்பட்ட சுகாதாரத்தை பராமரிக்க உதவுகிறது.</p>

<p>சாதாரண நீர் அல்லது வெந்நீரை நீங்கள் விரும்பினால் பயன்படுத்தலாம்.</p>

<p>இதன் மூலம் உங்கள் உடலில் உள்ள தீங்கு விளைவிக்கும் பாக்டீரியாக்களின் அளவு குறைந்து, அறுவைச் சிகிச்சைக்கு பிறகு காயங்களில் தொற்று ஏற்படும் அபாயம் குறைகிறது.</p>

<p>குளித்தல் மற்றும் தனிப்பட்ட சுகாதாரம்</p>

<p>தயவுசெய்து தினமும் சோப்பு பயன்படுத்தி குளித்து, உங்கள் தனிப்பட்ட சுகாதாரத்தை பராமரிக்கவும்.</p>

<p>உங்கள் விருப்பப்படி வெந்நீர் அல்லது குளிர்ந்த நீரை பயன்படுத்தலாம்.</p>

<p>இது அறுவைச் சிகிச்சைக்குப் பிறகு காயத் தொற்றுகளை ஏற்படுத்தக்கூடிய, உங்கள் உடலில் உள்ள தீங்கு விளைவிக்கும் பாக்டீரியாக்களின் அளவை குறைக்க உதவும்.</p>
