// .h2{
//     color: rgb(241, 0, 32);
//     background-color: aqua;
//     padding: 10px;
//     align-items: center;
//     justify-content: center;
//     font-weight: 600;
//     font-family:'Times New Roman', Times, serif;
// }

// h1{
//     color: rgb(97, 0, 254);
// }

// #translate{
//     color: rgb(3, 172, 127) 
// }