.select
{
    color: rgb(207, 39, 39);
    align-items: center;
    justify-content: center;
    font-size: 10px;
    
    background-color: aquamarine;
    padding: 10px;
    margin-top: 100px;
    height: 100px;
}

h1
{
color:blue ;}

#translate {
     color: aqua; 
}