<div class="homepage-bg-container">
  <img src="/images/image 2.jpg" alt="Homepage Banner" class="homepage-bg-img">
</div>

<div style="padding: 20px">
      <h1 style="color: aliceblue;">{{ 'TITLE' | translate }}</h1>
      <p style="color: aliceblue;">{{ 'DESCRIPTION' | translate }}</p>

      <hr>

      <button (click)="changeLang('en')">English</button>
      <button (click)="changeLang('si')">සිංහල</button>
      <button (click)="changeLang('ta')">தமிழ்</button>
    </div>

    <button>{{ 'BUTTON.START' | translate }}</button>
<button>{{ 'BUTTON.CONTACT' | translate }}</button>








