<div class="homepage-bg-container">
  <img src="/images/image 8.jpg" alt="Homepage Banner" class="homepage-bg-img">
</div>

<div style="padding: 20px">
      <h2 style="color: #006b7a; font-family: poppins; font-weight: 500; margin-right: 55%;">{{ 'TITLE1' | translate }}</h2>
      <h1 style="color: #006b7a; font-family: poppins; font-weight: 500; margin-right: 55%;">{{ 'TITLE2' | translate }}</h1>
      <p style="color: #878787; font-family: inter;">{{ 'DESCRIPTION' | translate }}</p>

      <hr>

      <button (click)="changeLang('en')">English</button>
      <button (click)="changeLang('si')">සිංහල</button>
      <button (click)="changeLang('ta')">தமிழ்</button>
    </div>

    <button>{{ 'BUTTON.START' | translate }}</button>
<button>{{ 'BUTTON.CONTACT' | translate }}</button>

<!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
              <div class="features-wrapper">
                <div class="row gy-4">
                </div>
              </div>

          
       
    </section><!-- /Hero Section -->





