div
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 1rem 2rem;
}

p, .translated
{
  background-color: #d4f3ff;
  padding:0.5rem 1rem;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 0.25rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #005f73;
  }
}

.title {
  background-color: #bde8f8;
  padding: 0.5rem 2rem 1.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.lang-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lang-popup {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  width: 300px;
}

.lang-popup .logo {
  width: 100px;
  margin-bottom: 1rem;
}

.lang-popup button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.7rem;
  font-size: 16px;
  cursor: pointer;
}

.logo{
  height: 20px;
  width: 50px;
}